[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "*"
mkdocs-material = {git = "ssh://git@git.20c.com/gh/squidfunk/mkdocs-material-insiders.git"}

[dev-packages]
invoke = "*"

[requires]
python_version = "3.8"
